html {
  font-family: sans-serif;
}

body {
  margin: 0.5em;
}

section {
  width: 100%;
}

figure {
  margin: 0;
  overflow: hidden;
}

.chart-background {
  fill: #efefef;
}

.frameless .chart-background {
  fill: none;
}

.axis,
.series {
  pointer-events: none;
}

.area-stroke {
  fill: none;
  stroke: inherit;
  stroke-width: 3px;
}

.area-fill {
  fill: inherit;
  opacity: 0.3;
}

.point {
  stroke: inherit;
  stroke-width: 3px;
  fill: white;
}

.point text {
  stroke: none;
  fill: black;
}

.point-left {
  text-anchor: end;
}

.tick,
.annotations {
  font-size: 10px;
}

.tick line {
  stroke: white;
}

.brush-area {
  fill: none;
}

.brush-selection {
  cursor: move;
  fill-opacity: 0;
}

.brush-handle {
  cursor: ew-resize;
}