:root {
  --darkblue: #0C1F36;
  --orange: #EBAF6A;
  --gray: #676F78;
  
  --main-color: var(--darkblue);  
  --accent-color: var(--orange);
}

html {
  color: var(--main-color);
  font-family: sans-serif;
  font-size: 16px;
}

body,
svg {
  margin: 0;
  font-size: 0.875em;
}

body > * {
  padding: 0.5em;
}

main {
  min-height: 100vh;
}

footer {
  background-color: #0C1F36;
  min-height: 25vh;
}

svg {
  width: 100%;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

figure {
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
}

figcaption {
  flex: 0 0 content;
}

figure > svg {
  flex: 1 1 auto;
}

table {
  border-collapse: collapse;
  font-variant-numeric: lining-nums tabular-nums;
  margin: auto;
}

th {
  text-align: left;
}

td {
  height: 2.88em;
}

td + td,
th + th {
  padding-left: 1.125em;
}

table .numeric {
  text-align: right;
}

.sparkline svg {
  width: 4.608em;
  height: 1.8em;
  padding: 0;
}

.track {
  fill: var(--gray);
}

.track--selection {
  fill: var(--accent-color);
}

[role=slider],
.selection {
  fill: var(--accent-color);
}

.chart-background {
  fill: #efefef;
}

.frameless .chart-background {
  fill: none;
}

.sparkline path {
  fill: none;
  stroke: var(--main-color);
}

.sparkline circle {
  fill: var(--main-color);
  stroke-width: 1px;
  stroke: white;
}

.axis,
.series {
  pointer-events: none;
}

.area-stroke {
  fill: none;
  stroke: inherit;
  stroke-width: 3px;
}

.area-fill {
  fill: inherit;
  opacity: 0.3;
}

.point {
  stroke: inherit;
  stroke-width: 3px;
  fill: white;
}

.point text {
  stroke: none;
  fill: black;
}

.point-left {
  text-anchor: end;
}

.tick text {
  font-size: 0.625em;
}
.tick line {
  stroke: var(--main-color);
}

.tick--minor line {
  stroke: var(--gray);
}

.tick--selection line {
  stroke: var(--accent-color);
}

.cell {
  fill: none;
  stroke: none;
  pointer-events: all;
}