<path class="area-stroke" d="{{linePathString}}" />
<path class="area-fill" d="{{areaPathString}}" />

<script>
  import {line, area} from "d3-shape";
  
  export default {
    namespace: "svg",
    
    data() {
      return {
        data: []
      };
    },
    
    computed: {
      linePathString: (x, y, data) => {
        const path = line()
          .x(d => x.scale(x.value(d)))
          .y(d => y.scale(y.value(d)));

        return path(data);
      },
      
      areaPathString: (x, y, data) => {
        const path = area()
          .x(d => x.scale(x.value(d)))
          .y0(y.scale(y.value(data[0])))
          .y1(d => y.scale(y.value(d)));
          
        return path(data);
      }
    }
  };
</script>