<Chart bind:contentWidth="width" bind:contentHeight="height" :margin aspect="1.618">
  <Axis class="x" orientation="left" dimension="{{y}}" size="{{width}}" />
  <Axis class="y" orientation="bottom" dimension="{{x}}" size="{{height}}" y="{{height}}"/>
</Chart>

<script>
  import * as d3_scale from "d3-scale";
  
  import Chart from "./Chart.html";
  import Axis from "./Axis.html";
  
  export default {
    namespace: "svg",
    
    components: {
      Chart,
      Axis
    },
    
    oncreate() {
      const onResize = this.onResize.bind(this);
      this.observe("width", onResize);
      this.observe("height", onResize);
    },
    
    data() {
      return {
        margin: {
          top: 8,
          right: 8,
          bottom: 16,
          left: 32
        },
        x: {
          scale: d3_scale.scaleLinear(),
          value: d => d[0],
          format: String
        },
        y: {
          scale: d3_scale.scaleLinear(),
          value: d => d[1],
          format: String
        }
      }
    },
    
    methods: {
      onResize() {
        const x = this.get("x"),
          y = this.get("y");
          
        x.scale.range([0, this.get("width")]);
        y.scale.range([this.get("height"), 0]);
        
        this.set({x, y});
      }
    }
  };
</script>