<Chart class="chart line-chart"
  bind:contentWidth="width" bind:contentHeight="height" :margin
  aspect="1.618">
    
  <defs>
    <clipPath id="selection">
      <rect x="{{brushStart}}"
        width="{{brushEnd - brushStart}}"
        :height />
    </clipPath>
  </defs>
    
  <Axis class="x" orientation="left" dimension="{{y}}" size="{{width}}" />
  <Axis class="y" orientation="bottom" dimension="{{x}}" size="{{height}}"
    y="{{height}}"/>
    
  <g class="series">
    <g class="unselected">
      {{#each series as s}}
        <path d="{{pathString(x, y, s.values)}}"
            stroke="{{seriesColor(s.key)}}" stroke-width="2" stroke-dasharray="3 2"
            stroke-opacity="0.6"
            fill="none" />
      {{/each}}
    </g>
    <g class="selected" clip-path="url(#selection)">
      {{#each series as s}}
        <path d="{{pathString(x, y, s.values)}}"
            stroke="{{seriesColor(s.key)}}" stroke-width="2"
            fill="none" />
      {{/each}}
    </g>
  </g>
  
  <Brush extent="{{[0, width]}}" :height
    start="{{brushStart}}" end="{{x.scale(endDate)}}"
    on:brush="onbrush(event)"
    on:brushend="onbrushend()" />
  
</Chart>

<script>
  import {extent} from "d3-array";
  import {nest} from "d3-collection";
  import {format} from "d3-format";
  import {scaleLinear} from "d3-scale";
  
  import pathString from "../utils/pathString";
  import {seriesColor} from "../utils/color";
  
  import Axis from "./Axis.html";
  import Brush from "./Brush.html";
  import Chart from "./Chart.html";
  
  export default {
    namespace: "svg",
    
    components: {
      Axis,
      Brush,
      Chart
    },
    
    oncreate() {
      const onResize = this.onResize.bind(this);
      this.observe("width", onResize);
      this.observe("height", onResize);
    },
    
    data() {
      return {
        width: 0,
        height: 0,
        startDate: 0,
        endDate: 0,
        margin: {
          top: 8,
          right: 8,
          bottom: 16,
          left: 32
        }
      }
    },
    
    methods: {
      onResize() {
        const x = this.get("x"),
          y = this.get("y");
          
        x.scale.range([0, this.get("width")]);
        y.scale.range([this.get("height"), 0]);
        
        this.set({x, y});
      },
      
      onbrush(extent) {
        const x = this.get("x").scale;
        
        this.fire("setPeriod", {
          startDate: x.invert(extent[0]),
          endDate: x.invert(extent[1])
        });
      },
      
      onbrushend() {
        this.fire("setPeriod", {
          startDate: Math.round(this.get("startDate")),
          endDate: Math.round(this.get("endDate"))
        });
      }
    },
    
    computed: {
      domain: prices => extent(prices, d => d.year),
      
      x: (prices, domain) => {
        return {
          scale: scaleLinear().domain(domain),
          value: d => d.year,
          format: String
        };
      },
      
      y: prices => {
        return {
          scale: scaleLinear().domain(extent(prices, d => d.price)).nice(),
          value: d => d.price,
          format: format("$.0s")
        }
      },
      
      series: prices => {
        return nest()
          .key(d => d.type)
          .sortValues((a, b) => a.year - b.year)
          .entries(prices);
      },
      
      brushStart: (startDate, x) => x.scale(startDate),
      brushEnd: (endDate, x) => x.scale(endDate)
    },
    
    helpers: {
      pathString,
      seriesColor
    }
  };
</script>