<Chart class="sparkline frameless"
  bind:contentWidth="width" bind:contentHeight="height"
  aspect="1.618">
  
  <Area :x :y :data />
  
</Chart>
<script>
  import {extent} from "d3-array";
  import {scaleLinear} from "d3-scale";
  
  import Area from "./Area.html";
  import Chart from "./Chart.html";
  
  export default {
    namespace: "svg",
    
    components: {
      Area,
      Chart
    },
    
    data() {
      return {
        width: 0,
        height: 0,
        data: []
      };
    },
    
    computed: {
      x: (width, data) => {
        return {
          value: d => d.year,
          format: String,
          scale: scaleLinear()
            .domain(extent(data, d => d.year))
            .range([0, width])
        };
      },
      
      y: (height, data) => {
        return {
          value: d => d.value,
          format: String,
          scale: scaleLinear()
            .domain(extent(data, d => d.value))
            .range([height, 0])
        };
      }
    }
  };
</script>