<g class="tick" :transform>
  <line :x2 :y2 />
  <text :x :y :dy text-anchor="{{anchor}}">{{tick}}</text>
</g>
<script>
  export default {
    namespace: "svg",
    
    data() {
      return {
        orientation: "bottom"
      };
    },
    
    computed: {
      transform: (orientation, value) => {
        switch (orientation) {
          case "top":
          case "bottom":
            return `translate(${value}, 0)`;
            
          default:
            return `translate(0, ${value})`;
        }
      },
      
      x2: (orientation, size) => {
        switch (orientation) {
          case "left":
            return size;
            
          case "right":
            return -size;
            
          default:
            return 0;
        }
      },
      
      y2: (orientation, size) => {
        switch (orientation) {
          case "top":
            return size;
            
          case "bottom":
            return -size;
            
          default:
            return 0;
        }
      },
      
      x: (orientation, padding) => {
        switch (orientation) {
          case "left":
            return -padding;
            
          case "right":
            return padding;
            
          default:
            return 0;
        }
      },
      
      y: (orientation, padding) => {
        switch (orientation) {
          case "top":
            return -padding;
            
          case "bottom":
            return padding;
            
          default:
            return 0;
        }
      },
      
      dy: orientation => {
        switch (orientation) {
          case "top":
            return "0";
            
          case "bottom":
            return "1em";
            
          default:
            return "0.35em";
        }
      },
      
      anchor: orientation => {
        switch (orientation) {
          case "left":
            return "end";
            
          case "right":
            return "start";
            
          default:
            return "middle";
        }
      }
    }
  };
</script>