<Chart bind:contentWidth="width" bind:contentHeight="height" :margin
  aspect="1.618">
  
  <g class="series">
    <path class="area" :d
      stroke="none" fill="{{seriesColor(name)}}" />
  </g>
</Chart>

<script>
  import {area} from "d3-shape";
  
  import {seriesColor} from "../utils/color.js";
  
  import Axis from "./Axis.html";
  import Chart from "./Chart.html";
  
  export default {
    namespace: "svg",
    
    components: {
      Axis,
      Chart
    },
    
    helpers: {
      seriesColor
    },
    
    oncreate() {
      const onResize = this.onResize.bind(this);
      this.observe("width", onResize);
      this.observe("height", onResize);
    },
    
    data() {
      return {
        prices: [],
        width: 0,
        height: 0,
        margin: {
          top: 8,
          right: 8,
          bottom: 8,
          left: 8
        }
      }
    },
    
    computed: {
      d: (prices, x, y) => area()
        .x(d => x.scale(x.value(d)))
        .y0(y.scale(y.value(prices[0])))
        .y1(d => y.scale(y.value(d)))(prices)
    },
    
    methods: {
      onResize() {
        const x = this.get("x"),
          y = this.get("y");
          
        x.scale.range([0, this.get("width")]);
        y.scale.range([this.get("height"), 0]);
        
        this.set({x, y});
      }
    }
  };
</script>